<!DOCTYPE>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>天空之城</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/iconfont/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/common.css">
</head>

<body>
    <div class="banner"> </div>
    <div class="main">
        <div class="nav card">
            <ul>
                <li>
                    <a href="/">
                        <i class="iconfont icon-home gap-right"></i>首页
                    </a>
                </li>
                <li>
                    <a href="/article">
                        <i class="iconfont icon-article gap-right"></i>博文
                    </a>
                </li>
                <li>
                    <a href="/message">
                        <i class="iconfont icon-message gap-right"></i>留言
                    </a>
                </li>
                <li>
                    <a href="/aboutme">
                        <i class="iconfont icon-aboutme gap-right"></i>关于我
                    </a>
                </li>
            </ul>
        </div>
        <div class="content card">
            <%- content %>
        </div>
    </div>
</body>

</html>