<div class="index-item">
    <a href="#" class="index-item-title">Todo</a>
    <div class="index-item-todo">
        <ul>
            <li>
                <i class="iconfont icon-checkmark"></i> icon
                <p>iconfont</p>
            </li>
            <li>
                <i class="iconfont icon-checkmark"></i> 模板引擎
                <p>ejs</p>
            </li>
            <li>
                <i class="iconfont icon-checkmark"></i> 数据存储，Mongo or Mysql？
                <p>选Mongo吧，对本blog来说足够了。</p>
            </li>
            <li><i class="iconfont icon-fangkuang"></i> 留言</li>
            <li><i class="iconfont icon-fangkuang"></i> Markdown支持</li>
            <li><i class="iconfont icon-fangkuang"></i> TODO LIST</li>
        </ul>
    </div>
</div>