<!DOCTYPE>
<html>

<head>
  <title>天空之城</title>
  <style>
    body {
      background-color: whitesmoke;
      margin: 0 auto;
    }
    
    .card {
      background-color: white;
    }
    
    .banner {
      height: 100px;
      background-color: gray;
    }
    
    .main {
      width: 1300px;
      height: 100%;
      margin: 0 auto;
      margin-top: 20px;
    }
    
    .nav {
      float: left;
      width: 300px;
      height: 100%;
    }
    
    .content {
      float: right;
      width: 960px;
      height: 100%;
    }
  </style>
</head>

<body>
  <div class="banner"></div>
  <div class="main">
    <div class="nav card"></div>
    <div class="content card"></div>
  </div>
</body>

</html>