<div class="message">
    <div class="message-title">留言</div>
    <div class="message-item">
        <a class="message-item-author" href="mailto:xxx@xxx.com">一个大水笔</a>&nbsp;&nbsp;&nbsp;&nbsp;<span class="time">2017/05/23 15:30:30</span>
        <p>数据的存储是需要验证的，不是什么数据都能往数据库里丢或者显示到客户端的，数据的验证需要记住以下规则： 验证始终定义在SchemaType中 验证是一个内部中间件 验证是在一个Document被保存时默认启用的，除非你关闭验证 验证是异步递归的，如果你的SubDoc验证失败，Document也将无法保存 验证并不关心错误类型，而通过ValidationError这个对象可以访问</p>
    </div>
    <div class="message-item">
        <a class="message-item-author" href="mailto:xxx@xxx.com">一个大水笔</a>&nbsp;&nbsp;&nbsp;&nbsp;<span class="time">2017/05/23 15:30:30</span>
        <p>数据的存储是需要验证的，不是什么数据都能往数据库里丢或者显示到客户端的，数据的验证需要记住以下规则： 验证始终定义在SchemaType中 验证是一个内部中间件 验证是在一个Document被保存时默认启用的，除非你关闭验证 验证是异步递归的，如果你的SubDoc验证失败，Document也将无法保存 验证并不关心错误类型，而通过ValidationError这个对象可以访问</p>
    </div>
    <div class="message-leave">
        <div class="message-leave-title">发表留言</div>
        <span>昵称</span>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="nick" />&nbsp;&nbsp;&nbsp;&nbsp;<span>Email</span>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="email" />
        <textarea name="content" class="message-leave-content" rows="10" cols="50"></textarea>
        <button class="message-leave-submit">发表</button>
    </div>
</div>
<script type="text/javascript" src="/assets/js/message.min.js"></script>