<div class="message">
    <div class="message-title">留言</div>
    <% messages.forEach(function(message){ %>
        <div class="message-item">
            <a class="message-item-author" href="mailto:<%=message.email%>">
                <%=message.nick%>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;<span class="time"><%=message.createTime%></span>
            <div class="message-item-content markdown-body">
                <%-message.content%>
            </div>
        </div>
        <% }) %>
            <div class="message-leave">
                <div class="message-leave-title">发表留言</div>
                <span>昵称</span>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="nick" />&nbsp;&nbsp;&nbsp;&nbsp;<span>Email</span>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="email" />
                <textarea name="content" class="message-leave-content" rows="10" cols="50"></textarea>
                <button class="message-leave-submit">发表</button>
            </div>
</div>
<script type="text/javascript" src="/assets/js/message.js"></script>